@mixin center-and-bold {
  font-weight: 600;
  font-size: 25px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

@mixin header-and-footer-color {
  // background: #F7A9B9;
  background: rgb(153, 63, 152);
}
