@import '../../styleUtils/layouts';

.contact {
    @include center-and-bold;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    background-color: white;
    margin-top: 10%;



    .contact:a {
        text-decoration: none;
        color: black;
    
        &:visited {
            color: purple;
        }
    }
}

