@import "../../components/styleUtils/layouts";

.form {
  // @include center-and-bold;
  // text-align: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  background-color: white;
  margin-top: 10%;

  div {
    margin-bottom: 10px;
  }
}
