@import "../../styleUtils/layouts"; 
@import "../../styleUtils/colors";

.form {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  // margin: 0 auto;
  // max-width: 700px;
  // padding: 10px;
  // background-color: white;
  // margin-top: 10%;

  input {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  button {
    border: none;
    padding: 1rem;
    width: 21.2rem;
    font-size: 1.2em;
    border-radius: 1rem;
    @include hoverColor;
    
    cursor: pointer;
    &:hover {
      @include header-and-footer-color;
      box-shadow: 6px 6px 2px 1px rgba(83, 53, 83, 0.192);
    }
  }
}
