@import "../styleUtils/layouts.scss";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
@import "../styleUtils/mobile.scss";

// $mobile : 440px;

.header {
  @include header-and-footer-color;
  //   margin-top: 100px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
  //   overflow: auto;
  position: sticky;
  top: 0;
  left: 0;

.navbar {
  padding: 10px 30px;

  &__logo {
    float: left;
    padding-top: 15px;
    color: aquamarine;
    margin-left: 100px;
  }

  &__menuItems {
    float: right;
    // margin-left: 75px;
    ul {
      list-style-type: none;

      li {
        display: inline;
        margin-left: 150px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &__collapsedMenuIcon {
    display: none;

    @media only screen and (max-width: $mobile) {
      .navbar {
        padding: 0;

        &__menuItems {
          display: none;

          &-active {
            display: block;
            position: absolute;
            top: 60px;
            background-color: white;
            border-bottom: 1px solid black;
            text-align: center;

            ul {
              padding-left: 20px;

              li {
                display: block;
                margin: 10px 0;
              }
            }
          }
        }

        &__collapsedMenuIcon {
          display: black;
          margin-right: 20px;
          float: right;
          font-size: 40px;
        }
      }
    }
  }
}

}