@import "../styleUtils/layouts.scss";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
@import "../styleUtils/mobile.scss";

.header {
  @include header-and-footer-color;
  height: 60px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
  position: sticky;
  top: 0;
  left: 0;

  &__container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__logo {
    width: 50px;
  }
}
