@import "../styleUtils/mobile.scss";
@import "../styleUtils/layouts.scss";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

.navbar {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;

  // &__logo {
  //   float: left;
  //   padding-top: 15px;
  //   color: aquamarine;
  //   margin-left: 100px;
  // }

  &__menuItems {
    float: left;
    margin-right: 20px;
    ul {
      list-style-type: none;

      li {
        display: inline;
        margin-left: 130px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &__collapsedMenuIcon {
    display: none;
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    &__collapsedMenuIcon {
      display: block;
      // margin-right: 40px;
      float: right;
      font-size: 40px;
    }
    &__menuItems {
      display: none;

      &-active {
        position: absolute;
        top: 79px;
        background-color: white;
        border-bottom: 1px solid black;
        text-align: center;
        left: 0;
        width: 100%;

        ul {
          padding-left: 20px;

          li {
            display: block;
            margin: 10px 0;
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}

// width: 97%;
//         margin: 1%;
//         margin-left: 1.25rem;
//         margin-right: 1.25rem;
//         padding: 7px 0%;
//         padding-left: 1.25rem;
//         padding-right: -70.75rem;
//         border-bottom: 0.5rem, #edeced solid;
//         padding-bottom: 0.5rem;
//         padding-top: 0.5rem;
//         font-family: "Raleway", sans-serif;
//         outline: 0;
//         outline: none;
//         border-radius: 9999px;
//         border-color: #e2e8f0;
//         line-height: inherit;
//         overflow: visible;
//         font-size: 100%;
//         box-sizing: border-box;
//         border-width: 2;
//         border-style: solid;
//         letter-spacing: 0.050rem;
