@import "../styleUtils/layouts.scss";


.footer {
  @include header-and-footer-color;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  bottom: 0;
  // left: 0;
  width: 100%;
  // margin-top: 1rem;
  padding: 1rem;
 
  &__text {
    font-size: 10px;
  }
}


