@import "../styleUtils/layouts.scss";

.footer {
  // @include header-and-footer-color;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  bottom: 25px;
  width: 100%;
  height: 50px;

  position: absolute;
  // left: 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  // padding: 1rem;
  

  &__text {
    font-size: 10px;
    text-decoration: underline;
  }
}
