@import "../styleUtils/layouts.scss";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
@import "../styleUtils/mobile.scss";

.eventImage {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  // top: 50%;
  // left: 10px;
  width: 200px;
  margin: 50px 25px;
  // align-content: center;
  // width: 60%;
  object-fit: cover;
  // height: 90%;
  // border: 3px solid red;
  border-radius: 10px 10px;
  // max-height: 140px;
  overflow: hidden;
}

