@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap");
@import "./styleUtils/layouts";
@import "./styleUtils/mobile";

body {
  background-color: #fff5ee;
  // background-color: #F7A9B9;
}

.App {
  position: relative;
  min-height: 96vh;
  padding-bottom: 50px;
}

@media only screen and (max-width: $mobile) {
   .App {
    position: relative;
    min-height: 97vh;
    padding-bottom: 50px;
  }
}
