@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap");
@import "./components/styleUtils/layouts.scss";
@import "./components/styleUtils/mobile";

body {
  background-color: #fff5ee;
  // min-height: auto;
  // margin: 0 auto;
  // position: sticky;
  // top: 0;
  // left: 0;
  // margin-top: 0 auto;
}

.App {
  position: relative;
  min-height: 96vh;
  padding-bottom: 50px;
}


